.topbar {
  height: 36px;
  background: rgb(240,240,240);
  // background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(227,227,227,1) 35%, rgba(209,209,209,1) 100%);
  background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(233,233,233,1) 35%, rgba(221,221,221,1) 100%);
  border: 1px solid #c5c5c5;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}
